@import "tailwindcss";

@theme {
  /* Skema Warna Zilabs Premium */
  --color-neon-purple: #7B2FFF;
  --color-electric-blue: #22B8FF;
  --color-dark-navy: #0F172A;
  --color-light-gray: #E5E7EB;
  --color-soft-white: #F8FAFC;

  /* Gradient Brand */
  --bg-gradient-brand: linear-gradient(135deg, #7B2FFF 0%, #22B8FF 100%);

  /* Typography System */
  --font-heading: "Poppins", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-dark-navy antialiased font-sans;
  }
  h1, h2, h3, h4 {
    @apply font-heading font-extrabold tracking-tighter;
  }
}
